<ion-view view-title="Dashboard" hide-back-button="true" ng-controller="ActivityCtrl as vm">
    <ion-content>
        <div class="row" style="text-align:center">
            <div class="col col-33 col-offset-33">
                <div>
                    <label for="blue">Select Activity</label>
                </div>
                <div>
                  <select id="blue" class="activity-select" ng-model="vm.data.activity_type">
                      <option ng-repeat="option in vm.activityList" ng-value="option.id">{{option.name}}</option>
                  </select>
                </div>

                <div style="margin-top:30px">
                  <button class="button button-balanced" ng-click="vm.submit()">Submit</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
