<div class="tabs-striped  tabs-background-positive tabs-color-light" ng-controller="LoginCtrl as vm">
    <div class="tabs">
        <a class="tab-item" ng-class="{'active': !vm.islogin}" ui-sref="default.signup"> <i class="icon ion-person"></i> </a>
        <a class="tab-item" ng-class="{'active': vm.islogin}" ui-sref="default.login"><i class="icon ion-unlocked"></i> </a>
    </div>
</div>

<ion-view view-title="Sign In" class="loginBg" hide-nav-bar="true" ng-controller="LoginCtrl as vm">

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
			<div class="app-logo"><img src="img/logo.png"></div>

			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" ng-model="vm.userlogin.email" placeholder="Email Address" > </label>
			  <label class="item item-input"><input type="password" ng-model="vm.userlogin.password" placeholder="Password" > </label>
			</div>

			<div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="vm.login(vm.userlogin);" > Login </button>  </div>
	  </div>
  </div>

	<social-login></social-login>

  </ion-content>
</ion-view>
